*{
    margin: 0;
    padding: 0;
}
body{
background-image: url("./otono/CARNE.png");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
background-attachment: fixed;
height: auto;
min-height: 100vh;

-webkit-text-size-adjust: 100%;
-moz-text-size-adjust: 100%;
-ms-text-size-adjust: 100%;
text-size-adjust: 100%;
}


main{
height: 100vh;
width: 100%;

}
.container{
margin-top: 10rem;
display: grid;
grid-template-columns: auto auto auto;
row-gap: 20px;
justify-content: center;
align-items: center;

}
.product{
border-radius: 10px;
background-color: white;
display: flex;
flex-direction: row;
justify-content: space-between;
margin: 1rem;
height:90%;
width: 90%;
padding: 10px;


}
.containerOferta{
  width: 0px;
  height: 0px;
}
.oferta{
  position: relative;
  top: -80px;
  right: -280px;
  z-index: 1;
  width: 140px;
  height: 140px;
}
.descriptions{
display: flex;
flex-direction: column;
justify-content: space-between;
width: 50%;

}
.name{
font-size: 30px;
font-family:  Helvetica;
font-weight: bold;
color: black;

}
.cuantity_background{
background-color: rgb(255,214,51);
width: 50%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
border-radius: 10px;
padding: 5px;
}
.CUANTITY{
font-size: 20px;
font-family:  Helvetica;
font-weight: bold;
color: black;

}
.price{
font-size: 30px;
font-family:  Helvetica;
font-weight: bold;
color: rgb(236, 36, 36);
}
.image{
border-radius:10px;
width: 50%;
height: 100%;
}
.image img{
width: 100%;
height: 100%;
border-radius: 10px;
}