* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
  
}

@font-face {
  font-family:'cursive';
  src: url("./fonts/DancingScript-Bold.ttf");
}

@font-face {
  font-family: 'rustic';
  src: url("./fonts/FontsFree-Net-zuumerough-bold-2.ttf");
}

.header{
  display: none;
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  gap: 0.5rem;
  border-bottom: solid 1px #aaa;
  background-color: #eee;
}

nav a {
  display: inline-block;
  min-width: 9rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
  border: solid 1px #aaa;
  text-align: center;
  text-decoration: none;
  color: rgb(170, 19, 19);
}

nav a[aria-current='page'] {
  color: #000;
  background-color: #0b9c71;
}

main.container {
  padding-right: 40px;
  background-image: url("./logo.png");
  background-repeat:no-repeat;
  background-size: 80%;
  background-position: 40% 50%;
  height: 100vh;
  margin: 0;
}

main{
  align-items: center;
  justify-content: center;
}



main#carniceria{
  background-image: url("./otono/CARNE.webp");
  background-repeat: no-repeat;
  height: 100vh;
  background-size: 100% 100%;
}


main#pollo{
  background-image: url("./otono/POLLO.WEBP");
  background-repeat: no-repeat;
  height: 100vh;
  background-size: 100% 100%;
}

main#cerdo{
  background-image: url("./otono/CERDO.WEBP");
  background-repeat: no-repeat;
  height: 100vh;
  background-size: 100% 100%;
}


.header{
  text-align: center;
}
.titulos{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 50px;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}
.fondoprincipal {
  background-image: url("imagen/puestaDeSol.png");
     }

.parent {
  
      margin: 1rem;
      padding: 2rem 2rem;
      text-align: center;
      
 }
.child {
      display: inline-block;
      
      padding: 1rem 1rem;
      vertical-align: middle;
      
}
.links{
  color: black;
 
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  margin-top: 40px;
}
.departamento{
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  align-items: left;
}
.departamento:hover{
  border-radius: 10px;
  background-color: #0b9c71;
}
#right-child{
  margin-left: 10.5em;
}

.listas{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.listaProductos{
  
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  column-gap: 50px;
  row-gap: 10px;
  justify-content: space-between;
  
  width: 100%;
}
.producto{
  display: flex;
  flex-direction: row;
  align-items: center;
  border: rgb(235, 235, 227) 1px solid;
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 100%;
  border-radius: 50px;
  color: white;
  opacity: 0;
}
.nombreProducto{
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  grid-auto-rows: 10px;
  background:rgba(0, 0, 0, 0.384);
  border-radius: 50px;
  padding: 10px;
  width: 100%;
}

.subdescripcion{
  text-align: left;
  background:rgba(0, 0, 0, 0.384);
  border-radius: 50px;
  font-size: 30px;
  margin-top: 5px;
}


.infoProducto{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  background-color: #2C3E50;
  color: #4ddf14 ;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
  
  
}

.precioProducto{
  color: rgb(255, 252, 75);
}
.tituloSegundaParte{
  color: green;
  font-family: 'cursive';
}
.Precios{
  font-family: Bookman, serif;
}
.decimales{
font-size: 40px;
}
.ref{
font-size: 25px;
}


.pollera{
  margin-bottom: 50px;
}
.panaderia{

}

.dulceria{

}

.carniceria{

}
.pollo{

}

.cerdo{

}
#myVideo{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  display: none;
}

#frameHojaldre{
  width: 100%;
  height: 100vh;
  display: none;
}
.logoTasa{
  display: flex;
  flex-direction: row;
  justify-content:right ;
  margin-bottom: 40px;
  width: 100%;
}

.tasa{
  background-color: white;
  border: #000 solid;
  border-radius: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: left;

}

.primeraSection{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.textoTasa{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  margin-right: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}