
*{
    margin: 0;
box-sizing: border-box;
}
@font-face {
    font-family: 'rustic';
    src: url("/fonts/Halftoned\ Backup.ttf");
  }

  @font-face {
    font-family: 'boldPrice';
    src: url("/fonts/MoonkidsPersonalUseExtbd-gxPZ3.ttf");
  }
  @font-face {
    font-family: 'Brussels';
    src: url("/fonts/BrusselsCityPersonalUsed-L3Lon.otf");
  }
  @font-face {
    font-family: 'halloween';
    src: url("/fonts/shlop rg.otf");
  }
.listas2{
    width: 100%;
    height: 100vh;
}
.containerJugos{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column; 
}

.firstImage{
    flex-basis: 60%;
    background-image: url("/images/jugosfondo.png");
    background-color: black;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
.secondImage{
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #99106b;
}
.descripcionContainer{
    position: absolute;
    left: 30%;
    top: 45%;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 20;
}
.hojaldre{
    font-size: 50px;
    letter-spacing: .4rem;
    font-family: 'boldPrice';
}
.detallesHojaldre{
    position: relative;
    left: 30px;
    z-index: 40;
    
}
.comidaPreferida{
    position: absolute;
    bottom: 60px;
    font-size: 20px;
    letter-spacing: .2rem;
    font-family: 'Brussels',
}

.logoAndQrContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.gridContainer{
width: 100%;
margin-left: auto;
margin-top: 20px;
display: grid;
 grid-template-columns: auto auto auto;
justify-content: center;

}
.preciosGrid1, .preciosGrid2, .preciosGrid3 { 

    font-family: 'rustic';
    font-size: 20px;
    color: white;
    margin-left: 20px;
    margin-right: 80px;
    margin-bottom: 20px;
    
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  
}

.description{
    margin-bottom: 20px;
}
.price{
    margin-bottom: 20px;
}



.descripcionyPrecio{
   width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.bebidasTitle{
    font-family: 'rustic';
    font-size: 50px;
    letter-spacing: 40px;
    color: white;
}

.secondSection{
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    
    box-shadow: -8px 0 5px -5px rgba(0, 0, 0, 0.45), 8px 0 5px -5px rgba(0, 0, 0, 0.45);
    
    
}
.secondSection > *:first-child {
    margin-top: 20px;
  }

  